*{
    margin: 0;
    padding: 0;
}
html body{
    height: 100%;
    height: auto!important;
    font-family: "明朝";
}
.item{
    font-weight:bold;
    margin-top:50px;
    font-size: 20px;
}
main{
    margin-left: 80px;
}
footer{
    background-color: rgba(60, 65, 70, 0.397);
    width: 140%;
    height: 120px;
    margin-top: 2em;
}
.contents{
    white-space: nowrap;
}